.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  margin-top: 64px;
}

.submit-button {
  font-family: 'Roboto';
  font-size: 32px;
  color: #ffffff;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #ea580c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
